:root {
    --brand-color: #2196F3;
    --brand-color-gray: #AFB1B8;
    --brand-color-font: #757575;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--brand-color-font);
}
h1,
h2,
h3,
h4 {
    color: #212121;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-style: normal;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 480px) {
        width: 480px;
    }
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
    
}

/* header */
header{
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: solid 1px #ECECEC;
}
.header-wrager{
    display: flex;
    align-items: center;
}
.header-wrager img{
    width: 134px;
    @media screen and (min-width: 1200px) {
        width: 145px;
    }
}
.header-nav{
   display: none;
    @media screen and (min-width: 768px) {
        display: block;
        margin-left: 85px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 90px;
    }
}
.nav-list{
    display: flex;
}
.nav-items{
    margin-left: 50px;
    color: #212121;
}
.nav-items:hover{
    color: var(--brand-color);
}
.nav-items:first-child{
    margin: 0;
}
.nav-link{
    color: inherit;
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
padding: 10px 0;
}
.header-adress{
    margin-left: auto;
    display: none;
    @media screen and(min-width: 768px) {
        display: flex;
        flex-direction: column;
    }
    @media screen and(min-width: 1200px) {
        flex-direction: row;
    }
}
.adress-link{
    display: inline-block;
color: var(--brand-color-font)
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}
.adress-link.tel{
    margin-left:0;
    @media screen and(min-width: 1200px) {
        flex-direction: row;
}
}
.adress-link:hover{
    color:var(--brand-color);
}
.mobile-btn{
    width: 40px;
    height: 40px;
    border: none;
    background-color: #FFF;
    margin-left: auto;
    @media screen and(min-width: 768px){
    display: none;
    }

}
.mobile-btn_icon{
    width: 100%;
    height: 100%;
}

/* hero-section */
.hero-section{
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ), url(./images/Img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    @media screen and(min-width: 480px){
      
        }
        @media screen and(min-width: 768px){
            
            }
            @media screen and(min-width: 1200px){
                
                }
    
}
.hero-title{
    color: #fff;
    font-size: 26px;
    font-weight: 900;
    line-height: 60px; /* 136.364% */
    text-transform: uppercase;
    max-width: 700px;
    text-align: center;
    @media screen and(min-width: 480px){
       max-width: 360px;      
    }
    @media screen and(min-width: 1200px){
        font-size: 44px;
        min-width: 700px;
        letter-spacing: 2.64px;        
    }
}
.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    color: #FFF;
   font-family: Roboto;
    font-size: 16px;
   font-weight: 700;
   line-height: 30px; /* 187.5% */
   letter-spacing: 0.96px;
   border-radius: 4px;
   background-color: var(--brand-color);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);  
   margin-top: 30px;
   border: none;
   @media screen and(min-width: 1200px){
    padding: 10px 32px;
   }
}

/* Benefits section */
.benefits-section {
    padding-top: 90px;
}

.benefits-title {
    display: none
}

.benefits-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
    @media screen() {
        
    }
}

.benefits-items {
    width: 270px;
}

.benefits-items_thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #F5F4FA;
    height: 120px;
    width: 100%;
    @media screen() {
        
    }
}

.benefits-item_title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-top: 30px;
}

.benefits-item_text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
    margin-top: 10px;
}

/* about section */
.about-section{
    padding: 90px 0;
    @media screen and() {
        
    }
}
.about-title{
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
}
.about-list{
display: flex;
justify-content: space-between;
margin-top: 50px;
}
.about-item{
    width: 370px;
    position: relative;
}
.item-overlay{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(47, 48, 58, 0.80);
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0,42px;
    text-transform: uppercase;
}
.item-image{
    display: block;
}

/* section Team */
.team-section{
    background-color: #f5f4fa;
    padding: 90px 0;
}
.team-title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;

}
.team-list{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;

}
.team-item{
    width: 270px;
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;

}
.team-item img{
width: 100%;
}
.team-item_title{
    text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-top: 30px;
}
.team-item_text{
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-top: 10px;
}
.social-list{
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 10px;

}
.social-item{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
/* .social-item_icon{
width: 20px;
height: 20px;
fill: #AFB1B8;
} */
.social-link{
    width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-item_icon{
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    }
.social-item:hover{
background-color: var(--brand-color);
}
.social-item:hover.social-item_icon{
    fill: #ffffff;
}


/* section Clients */
.clients-section{
    padding: 90px 0;
}
.clients-title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}
.clients-list{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.clients-item{
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
}
.clients-item__link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients-item__icon{
    width: 106px;
    height: 60px;
    fill: var(--brand-color-gray);
}
.clients-item:hover{
    border-color: var(--brand-color);
}
.clients-item:hover .clients-item__icon {
    fill: var(--brand-color);
}

/* --section-footer-- */

.section-footer{
    background-color: #2F303A;
    padding: 60px 0;
}
.content-wraper{
    display: flex;
    justify-content: space-between;
}
.footer-adress{
    margin-top: 20px
}
.footer-adress__item{
   margin-top: 10px;
}
.footer-adress__item:first-child{
margin-top: 0;
}
.footer-adress__item:hover a{
    color: rgba(255, 255, 255, 0.60)
}
.footer-adress__item a{
    color: var(--brand-color-font); 
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
}
ÑŽsocial-wraper{
    width: 206px;
}
.footer_social__titel{
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.footer-social__list{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.footer-social__item{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.10);
}
.footer-social__item:hover{
    background-color: var(--brand-color);
}
.footer-social__link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-social__icon{
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}
.footer-form__title{
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.footer-form{
    margin-top: 20px;
    display: flex;
}
.footer-form__input{
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background-color: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.48px;
    padding: 15px 16px;
}
.footer-form__button{
    border-radius: 4px;
    background-color: var(--brand-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    padding: 10px 28px;
    margin-left: 12px;
}
.footer-form__icon{
    width: 24px;
    height: 24px;
    fill: #fff;
    margin-left: 10px;
}

















@keyframes changeScaleRotate{
    0% {
      transform: perspective(400px) rotateY(0deg);
    }
    25% {
      transform: perspective(400px) rotateY(60deg);
    }
  
    50% {
      transform: perspective(400px) rotateY(-60deg);
    }
    75% {
      transform: perspective(400px) rotateY(600deg);
    }
    100% {
      transform: perspective(400px) rotateY(0deg);
    }
  }

